.game-room-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.game-name {
    margin-top: 0;
}

.game-container {
    flex: 1 1;
    min-height: 100px;
    overflow: auto;
    /* border: 1px solid black; */
    /* border-radius: 7px 7px 0 0; */
    background-color: aliceblue;
    margin-bottom: 10px;
}

.game-data-list {
    list-style-type: none;
    padding: 0;
}

.game-item {
    /* width: 25%; */
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
}

.my-game {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(0, 132, 255); */
    margin-left: auto;
    margin-right: 10%;
    color: black;
    align-items: flex-end;
}
.my-game-item{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3%;
}
.received-game-item{
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.avatar{
    vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.attempt-number{
    background-color: rgb(0, 132, 255);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}
.attempt-text{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.received-game {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(0, 132, 255); */
    margin-right: auto;
    margin-left: 10%;
    color: black;
    align-items: flex-start;
}
.button-container{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
}

.send-option-button {
    margin: 10px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: black;
    /* padding: 24px 12px; */
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.send-option-button-disabled {
    margin: 10px;
    font-size: 28px;
    font-weight: 600;
    color: white;
    background: grey;
    /* padding: 24px 12px; */
    border: none;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}


.game-won-image{
}
.game-lose-image{
    width:50%
}
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  }
 .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: 40px;
    color: white;
    font-weight: bold;
 }
 .start-newgame-button{
    margin-top: 20px;
    padding: 12px;
    font-size: 18px;
    background: black;
    color: white;
    border-radius: 7px;
    cursor: pointer;
 }
